USE [EXPORT_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ENVIO_EMAIL_DM]    Script Date: 16/04/2024 13:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[PROC_ENVIO_EMAIL_DM] 
AS 
BEGIN


/* ------------##-#####----###########################----#####-##------------ */
/* ------------##-#####----#### Tratando as bases ####----#####-##------------ */
/* ------------##-#####----###########################----#####-##------------ */

/* MAURO GAYMER KKKKKKKKKKKKKKKK  16.01.2024
	-Alterado a fonte de dados do mailing para somente UNIKI 

*/
---## Tabelas Temporárias
IF OBJECT_ID('TEMPDB..#BASE_CPF_MAILING')	IS NOT NULL DROP TABLE #BASE_CPF_MAILING
IF OBJECT_ID('TEMPDB..#EMAILS')			IS NOT NULL DROP TABLE #EMAILS
IF OBJECT_ID('TEMPDB..#BASE_TOTAL') IS NOT NULL DROP TABLE #BASE_TOTAL 


---## Criando tabela temporária
 CREATE TABLE #BASE_CPF_MAILING(
 COD_FILA		VARCHAR(50)
 ,CARTEIRA		VARCHAR(50)	
 ,CODIGO		VARCHAR(50)
 ,ENDERECO		VARCHAR(100)
 ,CPF			VARCHAR(50)			
 ,NOME			VARCHAR(50)
 ,DIAS_ATRASO	VARCHAR(10)
 ,SALDO_ATUAL	VARCHAR(20)
 ,PROPENSAO		VARCHAR(50)
 )

 ---## Base de cpf
INSERT INTO #BASE_CPF_MAILING
	SELECT DISTINCT
		COD_FILA
		,NOME_FILA					CARTEIRA
		,CODIGO
		,ENDERECO
		,DOC						CPF
		,NOME
		,DIAS_ATRASO
		,SALDO_ATUAL
		,CIDADE						PROPENSAO
	FROM EXPORT_REPORT.DBO.MAILING_DMCARD
		WHERE FONTE_DADOS = 'UNIKI'

CREATE TABLE #EMAILS(
 CPF	VARCHAR(50)
 ,EMAIL	VARCHAR(100)
)

---## Base de email
INSERT INTO #EMAILS
SELECT DISTINCT 
* 
FROM (SELECT  
	DOC				CPF
	,EMAIL
FROM EXPORT_REPORT.DBO.BASE_EMAIL_HISTORICO) K

---## Deletando emails que estão na Blacklist
DELETE FROM #EMAILS 
WHERE EMAIL IN (SELECT EMAIL FROM EXPORT_REPORT.dbo.BLOCKLIST_EMAIL)

---## Cruzando cpfs e emails
SELECT 
	A.*
	,B.EMAIl EMAIL
	,ROW_NUMBER() OVER(PARTITION BY A.CPF ORDER BY A.CPF) POSICAO
INTO #BASE_TOTAL
FROM #BASE_CPF_MAILING A
INNER JOIN #EMAILS B
	ON A.CPF = TRY_convert(bigint,B.CPF)

---## Deletando casos com mais de 3 emails
DELETE FROM #BASE_TOTAL
WHERE POSICAO > 3

/* ------------##-#####----###############################----#####-##------------ */
/* ------------##-#####----#### Gerando base de envio ####----#####-##------------ */
/* ------------##-#####----###############################----#####-##------------ */

---## Variáveis
DECLARE @TOTAL_ENVIO INT
DECLARE @LOOP INT = 1
DECLARE @ADC INT
DECLARE @DISPONIVEL INT
DECLARE @DT_INICIO DATE = FORMAT(GETDATE(),'yyyy-MM-01')
DECLARE @DT_FIM DATE = GETDATE()-1

---## Tabelas temporárias
DROP TABLE IF EXISTS ##ENVIO_DIA_EMAIL_DM_A
DROP TABLE IF EXISTS #REGUA_DIA

CREATE TABLE #REGUA_DIA(
 ID INT IDENTITY
 ,ATR_INI	INT
 ,ATR_FIN	INT
 ,QTD		INT
)

CREATE TABLE ##ENVIO_DIA_EMAIL_DM_A(
 COD_FILA		VARCHAR(50) DEFAULT ''
 ,CARTEIRA		VARCHAR(50)	
 ,CODIGO		VARCHAR(50)
 ,ENDERECO		VARCHAR(100) DEFAULT ''
 ,CPF			VARCHAR(50)			
 ,NOME			VARCHAR(50)
 ,DIAS_ATRASO	VARCHAR(10)
 ,SALDO_ATUAL	VARCHAR(20) DEFAULT ''
 ,PROPENSAO		VARCHAR(50) DEFAULT ''
 ,EMAIL			VARCHAR(100)
 ,POSICAO		INT
)

---## Buscando qtd de envio do dia
INSERT INTO #REGUA_DIA 
	SELECT
		ATRASO_INICIAL
		,ATRASO_FINAL
		,QUANTIDADE
	FROM ASSISTANT.DBO.REGUA_DIGITAIS
		WHERE DATA = CONVERT(DATE,GETDATE())
		AND REPLACE(TIPO_ENVIO,'-','') = 'EMAIL'
		AND EMPRESA  IN ('DM','DMCARD')

--- LOOP QUE PASSA EM TODAS AS LINHAS DA TABELA DE ENVIO
WHILE @LOOP <= (SELECT MAX(ID) FROM #REGUA_DIA)
BEGIN

SET @DT_INICIO = FORMAT(GETDATE(),'yyyy-MM-01')

SET @TOTAL_ENVIO = (SELECT SUM(QTD) FROM #REGUA_DIA WHERE ID = @LOOP)

---## Ajustando o processo para o spin da base ser feito de forma automatica
SET @DISPONIVEL = (SELECT COUNT(*) 
FROM #BASE_TOTAL A
LEFT JOIN EXPORT_REPORT.dbo.ENVIO_EMAIL_HISTORICO B
	ON A.CPF = B.CPF AND A.EMAIL = B.EMAIL AND EMPRESA = 'DM'
	AND B.DATA_ENVIO BETWEEN @DT_INICIO AND @DT_FIM
	WHERE b.DATA_ENVIO IS NULL
	AND DIAS_ATRASO BETWEEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP) 
							AND (SELECT ATR_FIN FROM #REGUA_DIA WHERE ID = @LOOP)) --- QUANTIDADE DE EMAIL DESEJADO

--- LOOP QUE AUMENTA A DATA INICIAL DE 1 EM 1 DIA ATE DAR A QUANTIDADE DESEJADA DE ENVIO
WHILE @DISPONIVEL < @TOTAL_ENVIO
BEGIN

SET @DT_INICIO = DATEADD(DAY,+1,@DT_INICIO)

SET @DISPONIVEL = (SELECT COUNT(*) 
FROM #BASE_TOTAL A
LEFT JOIN EXPORT_REPORT.dbo.ENVIO_EMAIL_HISTORICO B
	ON A.CPF = B.CPF AND A.EMAIL = B.EMAIL AND EMPRESA = 'DM'
	AND B.DATA_ENVIO BETWEEN @DT_INICIO AND @DT_FIM
	WHERE b.DATA_ENVIO IS NULL
	AND DIAS_ATRASO BETWEEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP) 
							AND (SELECT ATR_FIN FROM #REGUA_DIA WHERE ID = @LOOP))

END

---## Deletando casos que já tiveram envio esse mês
DELETE FROM #BASE_TOTAL
WHERE CONCAT(CPF,EMAIL) IN (SELECT CONCAT(CPF,EMAIL) FROM EXPORT_REPORT..ENVIO_EMAIL_HISTORICO WHERE DATA_ENVIO BETWEEN @DT_INICIO AND @DT_FIM
	AND DIAS_ATRASO BETWEEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP) 
							AND (SELECT ATR_FIN FROM #REGUA_DIA WHERE ID = @LOOP))

	SET @LOOP = @LOOP + 1
END

SET @LOOP = 1

---## Inserindo a quantidade baseada na régua do dia
WHILE @LOOP <= (SELECT MAX(ID) FROM #REGUA_DIA)
BEGIN
	INSERT INTO ##ENVIO_DIA_EMAIL_DM_A
	SELECT TOP(SELECT QTD FROM #REGUA_DIA WHERE ID = @LOOP) 
	COD_FILA
	,CARTEIRA
	,CODIGO
	,ENDERECO
	,CPF
	,NOME
	,DIAS_ATRASO
	,SALDO_ATUAL
	,PROPENSAO
	,EMAIL
	,POSICAO
	FROM #BASE_TOTAL
		WHERE DIAS_ATRASO BETWEEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP) 
							AND (SELECT ATR_FIN FROM #REGUA_DIA WHERE ID = @LOOP)
		ORDER BY POSICAO,CPF
	
	SET @LOOP = @LOOP + 1
END

---## Completando base caso não tenha toda a quantidade
----IF @TOTAL_ENVIO <> (SELECT COUNT(*) FROM ##ENVIO_DIA_EMAIL_DM_A)
----BEGIN
----	SET @ADC = @TOTAL_ENVIO - (SELECT COUNT(*) FROM ##ENVIO_DIA_EMAIL_DM_A)

----	INSERT INTO ##ENVIO_DIA_EMAIL_DM_A
----	SELECT TOP(@ADC)
----		A.*
----	FROM #BASE_TOTAL A
----		LEFT JOIN ##ENVIO_DIA_EMAIL_DM_A B
----	ON A.CPF = B.CPF AND A.EMAIL = B.EMAIL
----		WHERE B.CPF IS NULL
----		ORDER BY A.POSICAO,A.CPF
----END

---## Inserindo casos na tabela historico
INSERT INTO EXPORT_REPORT.DBO.ENVIO_EMAIL_HISTORICO
SELECT
	 CONVERT(DATE,GETDATE())
	,COD_FILA
	,CARTEIRA				
	,CODIGO
	,NOME
	,CPF
	,EMAIL
	,POSICAO					
	,SALDO_ATUAL
	,PROPENSAO
	,'DM'
	,NULL
	,NULL
	,NULL
FROM ##ENVIO_DIA_EMAIL_DM_A

/* ------------##-#####----####################----#####-##------------ */
/* ------------##-#####----#### Exportação ####----#####-##------------ */
/* ------------##-#####----####################----#####-##------------ */
---## Limpando tabela de exportação
TRUNCATE TABLE TEMPORARIA.DBO.EMAIL_EXPORT

---## Variáveis
DECLARE @CMD VARCHAR(500)

SET @LOOP = 1

WHILE @LOOP <= (SELECT MAX(ID) FROM #REGUA_DIA)
BEGIN
	INSERT INTO TEMPORARIA.DBO.EMAIL_EXPORT
	SELECT
		NOME
		,EMAIL
		,CODIGO
		,CARTEIRA
		,ENDERECO
		,CPF
		,DIAS_ATRASO
		,PROPENSAO
		,CASE WHEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP)  BETWEEN 61 AND 180	THEN 1
			  WHEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP)  BETWEEN 181 AND 360	THEN 2
			  WHEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP)  BETWEEN 361 AND 720	THEN 3
			  WHEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP)  BETWEEN 721 AND 1800	THEN 4
			  ELSE 5 END
		FROM ##ENVIO_DIA_EMAIL_DM_A
		WHERE DIAS_ATRASO BETWEEN (SELECT ATR_INI FROM #REGUA_DIA WHERE ID = @LOOP) 
							AND (SELECT ATR_FIN FROM #REGUA_DIA WHERE ID = @LOOP)
	
	SET @LOOP = @LOOP + 1
END

---## Exportando lotes definidos por fase (1 a 5)

SET @LOOP = 1

WHILE @LOOP <= (SELECT MAX(LOTE) FROM TEMPORARIA.DBO.EMAIL_EXPORT)
BEGIN

	DROP TABLE IF EXISTS ##EXPORT_ENVIO_EMAIL_DM

	SELECT
		NOME
		,EMAIL
		,CODIGO
		,CARTEIRA
		,ENDERECO
		,CPF
		,DIAS_ATRASO
		,PROPENSAO
		INTO ##EXPORT_ENVIO_EMAIL_DM
		FROM TEMPORARIA.DBO.EMAIL_EXPORT
		WHERE LOTE = @LOOP
	
	SET @CMD = 'bcp "SELECT ''NOME'',''EMAIL'',''CODIGO'',''FASE'',''ENDERECO'',''DOC'',''ATRASO'',''PROPENSAO'' UNION ALL SELECT NOME,EMAIL,CODIGO,CARTEIRA,ENDERECO,CPF,DIAS_ATRASO,PROPENSAO FROM ##EXPORT_ENVIO_EMAIL_DM" queryout "\\172.21.0.15\mis\35.Desenvolvimento\DM_EMAIL_ENVIO\DM_FASE_'+CONVERT(VARCHAR,@LOOP)+'_' + FORMAT(GETDATE(),'yyyyMMdd') + '.csv" -c -T -t";" -C"ACP" -S'
	EXEC master..xp_cmdshell @CMD

	SET @LOOP = @LOOP + 1
END

END
