USE [EXPORT_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_STD_RECEPTIVO_ANALITICO]    Script Date: 24/04/2024 09:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_STD_RECEPTIVO_ANALITICO] @DATA DATE
AS
BEGIN
	--DECLARE @DATA DATE = '2023-03-08'
	DECLARE @DT	DATE =	@DATA
	DECLARE @QUERY VARCHAR(MAX)
	DECLARE @TABELA VARCHAR(60)

---- ## Temporarias
	IF OBJECT_ID('TEMPDB..#MAILING')	IS NOT NULL DROP TABLE #MAILING
	IF OBJECT_ID('TEMPDB..#CONTRATO')	IS NOT NULL DROP TABLE #CONTRATO
	IF OBJECT_ID('TEMPDB..#DISCAGENS')	IS NOT NULL DROP TABLE #DISCAGENS

		CREATE TABLE #DISCAGENS(
		DT_ACIONAMENTO			DATE
		,HORA					INT
		,USER_ID				VARCHAR(50)
		,NEAROFFHOOKDT			DATETIME
		,NEARONHOOKDT			DATETIME
		,CALLENDDT				DATETIME 
		,DT_HORA				DATETIME
		,CLASSIFICACAO_WINOVER	INT
		,QUEUETIME				INT
		,ID_DISPOSITION			INT
		,DNIS					VARCHAR(40)
		,SERVICE_ID				INT
		,ANI					VARCHAR(40)
		,PARAM3					VARCHAR(200)
		,CPF					VARCHAR(350)
		,POSICAO				INT
	)


---- ## Contratos cslog
SELECT * 
	INTO #CONTRATO
	FROM OPENQUERY(WOCC55,'SELECT ID_CONTR,DATA_IMPORTACAO,CPF FROM CONTRATO WHERE DATA_IMPORTACAO >= CURDATE()-2')

---- ## Mailing
	SELECT 
		 DATA_IMPORTACAO
		,ACCOUNT_NUMBER
		,CACS_STATE_CODE
	INTO #MAILING
	FROM MAILING.DBO.SANTANDER_MAILING_HISTORICO
	WHERE DATA_IMPORTACAO = @DT

	IF OBJECT_ID('TEMPDB..#BASE') IS NOT NULL DROP TABLE #BASE	

---- ## Discagens

IF @DT <> CONVERT(DATE,GETDATE())
	BEGIN

	INSERT INTO #DISCAGENS
	SELECT 
		DT_ACIONAMENTO
		,HORA
		,USER_ID
		,NEAROFFHOOKDT		
		,NEARONHOOKDT		
		,CALLENDDT			
		,DT_HORA			
		,CLASSIFICACAO_WINOVER
		,QUEUETIME			
		,ID_DISPOSITION		
		,DNIS				
		,SERVICE_ID			
		,ANI				
		,PARAM3				
		,CPF							
		,ROW_NUMBER() OVER(PARTITION BY DT_ACIONAMENTO ,SEQNUM ORDER BY DT_HORA DESC) POSICAO
	FROM ANALYTIC.DBO.ASPECT_CALLDETAIL
	WHERE DT_ACIONAMENTO = @DT
	AND   ID_DISPOSITION NOT IN('13')
	AND SERVICE_ID IN(SELECT SERVICE_ID FROM ANALYTIC.DBO.ASPECT_CONFIG_SERVICE WHERE EMPRESA = 'SANTANDER' AND SITE_ID = 3)
	AND CALLTYPEID = 1
	AND SITE_ID = 3

		UNION ALL

	SELECT 
		DT_ACIONAMENTO
		,HORA
		,USER_ID
		,NEAROFFHOOKDT		
		,NEARONHOOKDT		
		,CALLENDDT			
		,DT_HORA			
		,CLASSIFICACAO_WINOVER
		,QUEUETIME			
		,ID_DISPOSITION		
		,DNIS				
		,SERVICE_ID			
		,ANI				
		,PARAM3				
		,CPF							
		,ROW_NUMBER() OVER(PARTITION BY DT_ACIONAMENTO ,SEQNUM ORDER BY DT_HORA DESC) POSICAO
	FROM ANALYTIC.DBO.ASPECT_CALLDETAIL
	WHERE DT_ACIONAMENTO = @DT
	AND   ID_DISPOSITION NOT IN('13')
	AND SERVICE_ID IN(SELECT SERVICE_ID FROM ANALYTIC.DBO.ASPECT_CONFIG_SERVICE WHERE EMPRESA = 'SANTANDER' AND SITE_ID = 4)
	AND CALLTYPEID = 1
	AND SITE_ID = 4

	END
ELSE
	BEGIN

	INSERT INTO #DISCAGENS
	--SELECT 
	--	DT_ACIONAMENTO
	--	,HORA
	--	,USER_ID
	--	,NEAROFFHOOKDT		
	--	,NEARONHOOKDT		
	--	,CALLENDDT			
	--	,DT_HORA			
	--	,CLASSIFICACAO_WINOVER
	--	,QUEUETIME			
	--	,ID_DISPOSITION		
	--	,DNIS				
	--	,SERVICE_ID			
	--	,ANI				
	--	,PARAM3				
	--	,CPF						
	--	,ROW_NUMBER() OVER(PARTITION BY DT_ACIONAMENTO ,SEQNUM ORDER BY DT_HORA DESC) POSICAO
	--FROM ANALYTIC.DBO.ASPECT_CALLDETAIL_TNT02_DAY
	--WHERE DT_ACIONAMENTO = @DT
	--AND   ID_DISPOSITION NOT IN('13')
	--AND SERVICE_ID IN(SELECT SERVICE_ID FROM ANALYTIC.DBO.ASPECT_CONFIG_SERVICE WHERE EMPRESA = 'SANTANDER' AND SITE_ID = 3)
	--AND CALLTYPEID = 1
	--AND SITE_ID = 3
	
	--UNION ALL

	SELECT 
		DT_ACIONAMENTO
		,HORA
		,USER_ID
		,NEAROFFHOOKDT		
		,NEARONHOOKDT		
		,CALLENDDT			
		,DT_HORA			
		,CLASSIFICACAO_WINOVER
		,QUEUETIME			
		,ID_DISPOSITION		
		,DNIS				
		,SERVICE_ID			
		,ANI				
		,PARAM3				
		,CPF							
		,ROW_NUMBER() OVER(PARTITION BY DT_ACIONAMENTO ,SEQNUM ORDER BY DT_HORA DESC) POSICAO
	FROM ANALYTIC.DBO.ASPECT_CALLDETAIL_TNT04_DAY
	WHERE DT_ACIONAMENTO = @DT
	AND   ID_DISPOSITION NOT IN('13')
	AND SERVICE_ID IN(SELECT SERVICE_ID FROM ANALYTIC.DBO.ASPECT_CONFIG_SERVICE WHERE EMPRESA = 'SANTANDER' AND SITE_ID = 4)
	AND CALLTYPEID = 1
	AND SITE_ID = 4

	END

	UPDATE A
	SET PARAM3 = ''
	FROM #DISCAGENS A
	WHERE PARAM3 = '450200'

	UPDATE A
	SET DNIS = '0936'
	FROM #DISCAGENS A
	WHERE PARAM3 = ''

	UPDATE A
	SET PARAM3 = CPF
	FROM #DISCAGENS A
	WHERE LEN(PARAM3) = 3

---- ## Cruzando discagens com mailing
	SELECT 
	A.*
	,B.CPF	CPF2
	,C.CACS_STATE_CODE
	INTO #BASE
	FROM #DISCAGENS A
	LEFT JOIN #CONTRATO B
		ON A.PARAM3 = B.cpf
	LEFT JOIN #MAILING C
		ON A.DT_ACIONAMENTO = C.DATA_IMPORTACAO 
			AND B.CPF = REPLACE(C.ACCOUNT_NUMBER,'F0','')
	WHERE POSICAO = 1
	AND A.ANI IS NOT NULL

---- ## Deletando dados para evitar duplicidade 
DELETE FROM EXPORT_REPORT..ANALITICO_RECEPTIVO WHERE CONVERT(DATE,DT_HORA) = @DT

---- ## Inserindo novos dados
INSERT INTO EXPORT_REPORT..ANALITICO_RECEPTIVO
SELECT 
	 DT_HORA
	,VDN
	,ISNULL(CPF2,'')			CPF2
	,ISNULL(CACS_STATE_CODE,'') CACS_STATE_CODE 
	,SEGMENTO
	,FINALIZACAO
FROM (
	SELECT DISTINCT
		 A.DT_HORA
		,'URA 3535'		VDN
		,CPF2
		,A.CACS_STATE_CODE
		,CASE WHEN SUBSTRING(A.DNIS,1,4) = 0936 THEN 'CARTÃO'
			  WHEN D.CARTEIRA LIKE '%CARTAO%'	THEN 'CARTÃO'
			  WHEN D.CARTEIRA = 'PREVENTIVO'	THEN 'PREVENTIVO'
			  WHEN D.CARTEIRA = 'CONSIGNADO'	THEN 'CONSIGNADO'
			  ELSE 'OVER PF'	
	 END																		SEGMENTO	
		,C.DISPOSITION_DESC														FINALIZACAO
		,ROW_NUMBER() OVER (PARTITION BY A.DT_HORA ORDER BY CPF2)				POSICAO
	FROM #BASE A 
		INNER JOIN ANALYTIC..ASPECT_CONFIG_DISPOSITION C
			ON A.ID_DISPOSITION = C.DISP_ID AND C.SITE_ID = 4
			LEFT JOIN ASSISTANT.DBO.DEPARA_CACS_STD AS D
			ON A.CACS_STATE_CODE = D.CACS AND D.VALIDACAO = 0

)A
WHERE POSICAO = 1

END